* {
    margin: 0; /* Remove the default margin for all elements */
    padding: 0;  /* Remove the default padding for all elements */
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
} 
  
body {
    padding: 24px;
    font-family: Arial, sans-serif;
}

header > h1 { 
    padding: 24px;
    font: caption;
    text-align: center;
    font-size: xx-large;
    background-color: #ccc;
}

header > nav { 
    padding: 12px;
    background-color: gainsboro;
}

header > nav > ul {
    list-style-position: inside; /* Makes the bullets part of the text flow, without this the bullets will not be centralized with the text */
}

header > nav > ul > li {
    text-align: center; 
    color:rgb(28, 83, 184);
}

a { 
    text-decoration: none; /* Removing the underline */
}

a:link {
    color:rgb(28, 83, 184);
}

a:visited {
    color:rgb(28, 83, 184);
}

main {
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #4f4f4f;
}

#left-section {
    width: 70%;
}

#right-section {
    width: 28%;
    margin-left: 1%;
}

section {
    padding: 24px;
    height: 50vh;
    display: inline-block;
    vertical-align: top; /* Without this, the two sections will not be aligned one in the side of the other corretly */
    background-color: gray;
}

.square {
    padding: 12px;
    min-height: 60px;
    text-align: center;
    border: 2px solid;
    border-color:darkkhaki;
    background-color:gainsboro;
}

.article-one {
    height: 200px;
}

.article-one > header {
    margin-top: 12px;
}

.article-one > p {
    margin-top: 12px;
    text-align: justify;
}

.container-images {
    width: 100%;
    margin-top: 12px;
    position: relative;
    text-align: center; 
}

.fist-image {
    position: absolute;
    left: 0px;
}

.last-image {
    position: absolute;
    right: 0px;
}

figure {
    width: 32%;
    height: 150px;
    display: inline-block;
    position: relative;
}

figcaption {
    position: absolute; /* Position inside the square */
    top: 50%; /* Move down 50% from the top */
    left: 50%; /* Move 50% right from the left */
    transform: translate(-50%, -50%); /* Offset the movement to center the text */
    font-size: 18px;
    font-weight: bold;
}

#dates {
    margin-top: 12px;
    text-align: start;
    padding-left: 24px;
    height: 290px;
}

#dates > ul > li {
    margin-top: 6px;
    font-size: larger;
}

footer {
    position: relative;
    height: 64px;
    text-align: center;
    background-color: #ccc;
}

footer > p { 
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: small
}