* {
    margin: 0; /* Remove the default margin for all elements */
    padding: 0;  /* Remove the default padding for all elements */
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
} 

section {
    padding: 24px;
    width: fit-content;
    text-align: center;
}

h2 {
    margin-bottom: 12px;
}
table {
    border: none;
}

td, th {
    padding: 12px;
}

caption {
    caption-side: bottom;
}

.bigger > yh {
    width: 150px;
}