* {
    margin: 0; /* Remove the default margin for all elements */
    padding: 0;  /* Remove the default padding for all elements */
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
    font-family: Arial, Helvetica, sans-serif;
} 

#main {
    width: 100%;
    height: 100%;
}

section {
    padding: 24px;
    width: fit-content;
    text-align: center;
}

h2 {
    margin-bottom: 12px;
}
table {
    border: none;
}

td, th {
    padding: 12px;
}

caption {
    caption-side: bottom;
    margin-top: 12px;
}

.bigger > yh {
    width: 150px;
}

#table1 > table > thead {
    background-color: #006ce8;
    border-color: #437aba;
    color: white;
}

#table1 > table > tbody > tr > th { 
    color: #006ce8;
}

#table2 > table {
    background-color: #86bbf6;
    border-color: #437aba;
}


#table3 > table > thead > tr:first-child {
    background-color: #1c9d94;
    color: white;
}
